// UIkit Core
@import "../inc/vendor/uikit/less/uikit.less";
// UIkit Theme
@import "../inc/vendor/uikit/less/uikit.theme.less";

// Orphan Theme
@import "theme/_import.less";
// Extensions
@import "extensions/extensions.less";
@import "wordpress.less";

//
// Global Vars
// 
@global-font-size:                              15px;
@global-line-height:                            1.6;

//
// Toolbar
//

@theme-toolbar-padding-vertical:                10px;
@theme-toolbar-background:                      @global-secondary-background;
@theme-toolbar-font-size:                       @global-small-font-size - 0.1rem;

//
// Boxed Page
//

@theme-page-boxed-width:                        1200px;
@theme-page-boxed-padding-vertical:             @global-large-margin;
@theme-page-boxed-background:                   darken(@global-muted-background, 3%);



/**
 * Drawer style
 */
.drawer-toggle {
    top: 5px;
}




/* 
 * Toolbar 
 */

.tm-toolbar {
    padding-top: @theme-toolbar-padding-vertical;
    padding-bottom: @theme-toolbar-padding-vertical;
    background: @theme-toolbar-background;
    font-size: @theme-toolbar-font-size;
    text-transform: uppercase;
    ul, p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .uk-icon-button {
        width: 28px;
        height: 28px;
    }

    .uk-grid-small > * {
        padding-left: 10px;
    }
    .uk-subnav {
        margin-left: -10px;
        > * {
            padding-left: 10px;
            > :first-child {
                font-size: @theme-toolbar-font-size;
            }
        }
    }
    .uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
        margin-right: 10px;
    }
}




/* 
 * Boxed Page
 */

/* Desktop and bigger */
@media (min-width: @theme-page-boxed-width) {

    //.tm-page { background: @theme-page-boxed-background 50% 50% / cover no-repeat fixed; }
    .layout-boxed {
        .tm-page > * {
            position: relative;
            max-width: @theme-page-boxed-width + 80;
            background: @global-background;
            box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
        }

        .tm-page-padding {
            padding-top: @theme-page-boxed-padding-vertical;
            padding-bottom: @theme-page-boxed-padding-vertical;
        }
    }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-medium) {
  .uk-section-medium {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}


/*
 * Header
 */
.tm-header {
    .navbar-color-default {
        background-color: @section-default-background;
    }
    .navbar-color-muted {
        background-color: @section-muted-background;
    }
    .navbar-color-primary {
        background-color: @section-primary-background;
    }
    .navbar-color-secondary {
        background-color: @section-secondary-background;
    }
    .tm-logo-img {
        line-height: normal;
    }
    .tm-center-logo {
        a {
            &:after {
                content: none;
            }
        }
    }
}
.tm-header-transparent { 
    .tm-header-wrapper {
        width: 100%; position: absolute; z-index: 10; 
    }
    &.tm-header-fixed {
        .tm-header-wrapper {
            position: fixed; 
        }
    }
    .tm-headerbar-top,
    .tm-headerbar-bottom { background: transparent; }
}
.tm-titlebar {
    .uk-text-center {
        .uk-breadcrumb {
            display: block;
            li {
                display: inline-block;
            }
        }
    }
   .uk-breadcrumb { 
        font-size: @global-small-font-size;
        > :nth-child(n+2):not(.uk-first-column)::before {
            margin: 0 12px;
        }
    }
}
.tm-header-mobile {
    .uk-position-z-index {
        z-index: 10;
    }
}

.tm-headerbar-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-navbar-toggle {
    > span {
        text-transform: uppercase;
    }
}

// Spacific header style
body[class*="header-mode-stacked-left"], body[class*="header-mode-stacked-center-b"] {
    .tm-headerbar-top {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid @global-border;
    }
}

.tm-headerbar-bottom {
    padding-bottom: 20px;
}



/**
 * Main body
 */




/**
 * Sidebar
 */

.tm-sidebar {
    .widget {
        .uk-panel {
            .uk-card-title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
    }
}

/**
 * Article 
 */





/**
 * Bottom
 */

.tm-bottom, .tm-drawer {
    .bottom-widgets {
        .uk-card-title {
            display: none;
        }        
    }
    .widget {
        .uk-panel {
            .uk-card-title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }

        + .widget {
            margin-top: 40px;
        }
    }
}

.uk-button {
    i[class*="fa-"] {
        margin-left: 5px;
    }
}

.tm-copyright {
    .copyright-txt {
        font-size: @global-small-font-size;
        text-transform: uppercase;
    }
}


.bdt-progress-pie-wrapper[class*="uk-box-shadow"] {
    overflow: hidden;
    position: relative;
    .bdt-progress-pie-after-title {
        position: relative;
        &:before {
            content: "";
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: @global-border;
            left: 0;
            top: 0;
        }
    }
}


/**
 * Shortcode elements style
 */

.bdt-member-name {
    font-family: @base-heading-font-family;
}

.bdt-heading {
    .bdt-heading-inner {
        color: lighten(@base-heading-color, 20%);
        span {
            color: @base-heading-color;
        }
    }
    &::after {
        background-color: @global-primary-background;
    }
}


/**
 * zoom and link button
 */
.bdtp-link, 
.bdtp-zoom {
    padding: 10px;
    margin: 0 5px;
    outline: none;
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.75);
    border-radius: 50%;
    color: #fff;
}
.bdtp-link span, 
.bdtp-zoom span {
  height: 18px;
  width: 18px;
  margin: 0 0 8px 2px;
  line-height: 18px;
  vertical-align: middle;
}
.bdtp-link span svg, 
.bdtp-zoom span svg {
  height: 100%;
  width: 100%;
}
.cbp-caption-activeWrap {
  background-color: rgba(0,0,0,0.5) !important;
}

 /**
 * Post carousel 
 */

.bdt-owl-carousel {
    .bdt-oc-slide:not(.uk-light) {
        .bdt-oc-desc { 
            h4 {
                a {
                    color: @global-secondary-background;
                    &:hover {
                        color: darken(@global-secondary-background, 15%);
                    }
                }
            }
        } 
    }
    .bdt-oc-tags a {
        background: @global-primary-background;
    }
    .uk-background-primary {
        .bdt-oc-tags a {
            background: lighten(@global-secondary-background, 30%);
        }
    }  
}

// video frame
.video-lightbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &:after {
        content: "";
        width: 48px;
        height: 48px;
        border-radius: 50px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: border-box;
        line-height: 32px;
        text-align: center;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/play-button.svg');
        transition: all 0.25s ease;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: @border-rounded-border-radius;

    }
    &:hover::after {
        transform: translateX(-50%) translateY(-50%) scale(1.1);
    }
}

// Cookie bar style

#cookie-bar {
    background-color: #fff;
    color: @global-color;
    z-index: 100;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.1);
}