@import "shortcodes.less";
@import "visual-composer.less";
@import "charitable.less";
@import "cubeportfolio.less";
@import "woocommerce.less";
@import "owl.carousel.less";
@import "tick.less";
@import "magnific-popup.less";
@import "event.less";

/**
* Table of Contents

* 1.0 - View All and Carousel
* 2.0 - Give Donation
**/

/* =================================
    2. View All and Carousel
===================================== */
.bdt-view-all {
    text-decoration: none !important;
    i {
        font-size: 10px;
        margin-left: 8px;
        border: 2px solid;
        border-radius: 14px;
        padding: 4px;
        vertical-align: top;
        width: 10px;
        text-align: center;
        height: 10px;
    }
}

@media (max-width: 767px) {
    .bdt-view-all {
        display: none;
    }
}
  
//Carousel

.bdt-carousel-slide .wpb_single_image {
    margin-bottom: 0;
}

// Contact Form 

div.wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
}
input.wpcf7-form-control.wpcf7-submit.readon {
    padding: 13px 20px;
    border: none;
}

.email-bg {
    background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
    padding: 8px !important;
}


/* Countdown Style */
.bdt-countdown {
    .donate-button.button.button-primary {
        border: 2px solid @global-link-color;
        &:hover {
            background: @global-link-color;
        }
    }
}



/*===========================
  2.0 Pagination Styles 
============================*/

.pagination-wrapper {
  text-align: center;
  margin-top: 35px;
}
.pagination-wrapper .uk-flex-center {
  margin-bottom: 0;
}
.pagination-wrapper .uk-flex-center a {border-radius: 0;}
.author-info {
    margin: 50px 0;
}
.author-info .author-image {
    padding-right: 25px;
    width: 80px;
}

/* Widget style */


/*===========================
  3.0 Widget Styles 
============================*/






/*------------------------
 3.1 Search Styles
-------------------------*/


/*------------------------
 3.2 Calendar Styles
-------------------------*/
.widget_calendar table {
    width: 100%;
}
.widget_calendar table caption {
    padding-bottom: 10px;
    font-size: 17px;
}
.widget_calendar thead, .widget_calendar tbody {
    text-align: center;
}

/*------------------------
 3.4 Nav Widget Styles
-------------------------*/
.widget_nav_menu ul li i {
    margin-right: 5px;
}
.no-menu {
  padding: 20px 0;
  list-style: none;
  margin-bottom: 0;
}

/*-----------------------
  3.5  Bottom Widget
-------------------------*/
.tm-bottom-b .widget_recent_entries ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.tm-bottom-b .widget div > ul > li:nth-child(n+2) {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.1);
}


/*=====================
  4.0  Search page
======================*/
.search .tm-content .uk-alert-warning {
    padding: 15px 20
}
.search-results {
  .entry-search .entry-title h3 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .entry-search .entry-type {
      display: inline-block;
      background: #fbfafa;
      padding: 0px 8px;
      font-size: 11px;
      text-transform: uppercase;
      margin-top: 5px;
  }
  .entry-content {
      margin-top: 20px;
  }
  .searchform > div {
      margin-bottom: 12px;
  }
}


/*========================
  7.0  Countdown Styles
==========================*/
.bdt_countdown .bdt_countdown-section {
  margin-bottom: 0;
}


/* ======================
  11.0 Gallery style  
=========================*/

.gallery {
  margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #686868;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

.page-links {
    a {
        color: @global-color;
        text-decoration: none;
        &:hover {
            color: #222;
        }
        span.page-number {
            font-weight: normal;
        }
    }
    span.page-number {
        margin-left: 5px;
        font-weight: 700;
    }
}
.post-link a, .post-link a:active {
    display: block;
    background: #666666;
    border-radius: 2px;
    padding: 20px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.post-link a:hover {
    background-color: @global-link-color;
    color: #fff; 
}

.post-link a span {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.6;
}

.post-content {
    font-size: 14px;
    margin-top: 20px;
}

.post-quote a {
    text-align: center;
    display: block;
    background: #f9f9f9;
    color: #666;
    padding: 40px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    margin: 0;
}

.post-quote a:hover {
    text-decoration: none;
    background-color: @global-link-color;
    color:#fff;
}

.post-quote a:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: -20px;
    left: 50%;
    font-size: 100px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.03);
    margin-left: -50px;
}

.post-quote a .quote-source {
    display: block;
    font-size: 14px;
    color: #666;
    opacity: 0.6;
    margin: 10px 0 0 0;
}

.post-quote a:hover .quote-source {
    color: #fff;
}


/* Shop */
.woocommerce div.product .woocommerce-tabs {
    border: 0;
    display: block;
    padding-top: 50px;
}

.woocommerce div.product .woocommerce-tabs ul.uk-tab li a {
    padding-bottom: 15px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 5px 10px
}

.post-image-gallery {
    .owl-theme {
        .owl-dots {
            margin-top: -50px;
            position: absolute;
            width: 100%;
            .owl-dot span {
                border-color: @base-body-background;
            }
            .owl-dot.active span {
                background: @base-body-background;
            }
        }
        .owl-nav {
            .owl-prev {
                left: 50px;
                &:after{
                    color: #fff;
                }
            }
            .owl-next {
                right: 50px;
                &:after{
                    color: #fff;
                }
            }
        }
    }
}



.bdt-ecs-container .bdt-carousel-slide {
  width: 33%; /* full width */
  height: auto; /* height of carousel */
  margin-right: 30px;
}

// jetpack override
#infinite-footer {
    display: none;
}