/* start of blog list */

.bdt-blog-list {
    position: relative;
}
.bdt-blog-list .bdt-blog-list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(130,130,130,0.2);
    text-decoration: none;
}
.bdt-blog-list .bdt-blog-list-item:last-child {
    border-bottom: 0;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description {
    -webkit-flex: 1;
    flex: 1;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description a {
    color: #666;
    -webkit-transition: all .25s;
    transition: all .25s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description a:hover {
    opacity: 0.7;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description p {
    margin: 10px 0 0;
    color: #999999;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-date {
  background: rgba(0, 0, 0, 0.1);
  line-height: normal;
  margin-right: 25px;
  text-align: center;
  width: 48px;
  font-weight: 700;
  font-size: 32px;
  padding: 10px;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-date span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

/* end of blog list */



/* bdt owl carousel */
.bdt-owl-carousel {
    margin: 0;
}

.bdt-owl-carousel .bdt-oc-slide {
    display: block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility:hidden;
    z-index: 1;
}

.bdt-owl-carousel .bdt-oc-slide .bdt-oc-thumb{
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0;
}

.bdt-owl-carousel .bdt-oc-slide .bdt-oc-thumb img{
    max-width: 100%;
    height: auto;
    display: block;
}

.bdt-owl-carousel .bdt-oc-slide .bdt-oc-desc {
}

.bdt-owl-carousel .bdt-oc-slide h4{
  font-size: 18px;
  margin-top: 0;
  padding: 0;
}
.bdt-owl-carousel .bdt-oc-slide h4 a{ text-decoration: none;}

.bdt-owl-carousel .bdt-oc-slide .bdt-oc-desc div {
    display: block;
}

.bdt-owl-carousel .bdt-oc-slide .bdt-oc-desc ul li span {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.bdt-owl-carousel .bdt-oc-slide .bdt-oc-desc ul li a {
  color: inherit;
}

.bdt-owl-carousel .bdt-oc-slide .wpb_single_image {
  margin-bottom: 0 !important;
} 


.bdt-owl-carousel .read-more-link{
    display: none;
}


.bdt-owl-carousel .owl-carousel .owl-stage-outer {
  margin-left: -15px;
  padding-left: 15px;
  margin-right: -15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.bdt-owl-carousel.horizontal{
    margin-left: -20px;
    margin-right: -20px;
}

.bdt-owl-carousel-list{
    margin:0;
    display: block;
}

.bdt-owl-carousel-list h4 {
  font-size: 18px;
  margin: 0 0 4px 0;
  padding: 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
}

.bdt-owl-carousel-list .blog-list-item-date{
    background: #f4f4f4;
    color:#666666;
    width:50px;
    text-align: center;
    font-size:20px;
    line-height: 20px;
    font-weight: bold;
    padding:10px 0 0 0;
    margin: 0 20px 0 0;
    float: left;
    overflow: hidden;
    border-radius: 2px;
}

.bdt-owl-carousel-list .blog-list-item-date span{
    display: block;
    background: #666666;
    font-size:11px;
    line-height: 11px;
    font-weight: bold;
    padding:5px 0;
    margin:10px 0 0 0;
    text-transform: uppercase;
    color:#ffffff;
}

.bdt-owl-carousel-list .blog-list-item-thumb{
    background: #f4f4f4;
    color:#666666;
    width:50px;
    height: 50px;
    padding:0;
    margin: 0 20px 0 0;
    float: left;
    overflow: hidden;
    border-radius: 2px;
}

.bdt-owl-carousel-list .blog-list-item-description{
    overflow: hidden;
}

.bdt-owl-carousel-list .blog-list-item-description span{
    color:#999999;
}

.blog-list-item-excerpt a{
    margin-top: 5px;
    display: block;
}

.bdt-owl-carousel-list.horizontal .blog-list-item-excerpt a{
    display: block;
    margin-top: 10px;
}

.bdt-owl-carousel-list-modern{
    margin: 0;
    padding: 0;
    list-style: none;
}

.bdt-owl-carousel-list-modern li{
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.bdt-owl-carousel-list-modern li:last-child{
    border: none !important;
}

.bdt-owl-carousel-list-modern li a{
    display: block;
    padding: 20px 0;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.bdt-owl-carousel-list-modern li a:hover{
    background: #f9f9f9;
}

.bdt-owl-carousel-list-modern li h4{
    font-size: 18px;
    margin: 0 0 1px 0;
    display: block;
    padding: 0;
}

.bdt-owl-carousel-list-modern li span{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999999;
    display: block;
}

.bdt-owl-carousel .bdt-oc-tags a {
    display: inline-block;
    padding: 2px 6px;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
}


/*------ Custom carousel design -------*/

.bdt-custom-carousel .uk-dotnav > * {
    padding-left: 6px
}
.bdt-custom-carousel .uk-dotnav > * > * {
    height: 8px;
    width: 8px;
}
/*------ Responsive medium css ------*/
@media only screen and (max-width: 1240px) {
    /*owl carousel navigation design*/
    .owl-carousel.owl-theme .owl-nav {
    display: none;
  }
    
}


/* counter shortcode style */

.bdt-counter-number { line-height: normal; color: #444444; font-weight: 700;}
.bdt-counter-text { line-height: normal; font-weight: 300;}
.bdt-counter-wrapper {padding: 20px;}
.bdt-counter-icon i {color: #444444;}
.bdt-counter-top {
    text-align: center;
}
.bdt-counter-left .bdt-counter-number {
    text-align: left;
}
.bdt-counter-left .bdt-counter-desc {
    float: left;
    margin-left: 20px;
}
.bdt-counter-left .bdt-counter-icon {
    float: left;
    padding-top: 5px;
}

.bdt-counter-right .bdt-counter-number {
    text-align: right;
}
.bdt-counter-right .bdt-counter-desc {
    float: right;
    text-align: right;
    margin-right: 20px;
}
.bdt-counter-right .bdt-counter-icon {
    float: right;
    padding-top: 5px;
}


/* Countdown shortcode style */

.wpb_row .wpb_column .wpb_wrapper .bdt-countdown {
    height: auto;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}





/* Responsive Code Here */
@media (max-width: 768px) {
    div.bdt-countdown h3.bdt_prefix-text,div.bdt-countdown h3.bdt_suffix-text,.bdt-countdown .countdown-button {
      display: block;
      text-align: center;
      max-width: initial;
      overflow: visible;
      height: auto;
    }
    div.bdt-countdown h3.bdt_prefix-text {
        margin: 0 0 30px;
    }
    div.bdt-countdown h3.bdt_suffix-text,.bdt-countdown .countdown-button {
        margin: 30px 0 0;
    }
    .wpb_row .wpb_column .wpb_wrapper .bdt-countdown {
        display: block;
    }
}
@media (max-width: 960px) {
    .tm-headerbar div.bdt-countdown h3.bdt_prefix-text,.tm-headerbar div.bdt-countdown h3.bdt_suffix-text {
        display: none;
    }
  .tm-headerbar .bdt-countdown .countdown-section .countdown-amount {
      font-size: 24px;
  }
}


/* charitable shortcode style */

.bdt-charitable .cbp-popup-content a.cbp-l-inline-view {
    margin-top: 25px;
}
div[class*="cbp-popup-"] .cpb-category, 
div[class*="cbp-popup-"] .cpb-date {
    display: inline-block;
    position: relative;
    margin-right: 22px;
}

div[class*="cbp-popup-"] .cpb-category:after, 
div[class*="cbp-popup-"] .cpb-date:after {
    content: '//';
    position: absolute;
    right: -16px;
}

div[class*="subtitle"] div:last-child:after {
    content: none;
    margin-right: 0;
}
.bdt-charitable-grid .bdtp-img-wrap img {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.bdt-charitable-grid .cbp-caption:hover .bdtp-img-wrap img {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.bdt-charitable-grid .bdtp-meta-wrap {
    position: relative;
}
.bdt-charitable-grid .bdtp-meta-wrap:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #fff;
    left: 50%;
    z-index: 11;
    top: -20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.bdt-charitable-grid .bdtp-title {
  font-size: 15px;
  line-height: normal;
    padding-top: 0 !important;
}
.bdt-charitable-grid .bdtp-title,
.bdt-charitable-grid .campaign-donation,
.bdt-charitable-grid .campaign-description,
.bdt-charitable-grid .campaign-stats.uk-list {
  margin: 0 ;
  padding: 10px 0;
}
.bdt-charitable-grid .charitable-category {
  margin: -5px 0 0;
  padding: 0 0 10px;
  line-height: normal;
  display: block;
}
.bdt-charitable-grid .bdtp-title a {
    display: block;
    color: #666;
    text-align: center;
    outline: none;
    text-decoration: none !important;
}
.bdt-charitable-grid .bdtp-title a:hover {
  color: #888;
}
.bdt-charitable-grid .bdtp-meta {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.bdt-charitable-grid .bdtp-meta .campaign-description {
  font-size: 14px;
}
.bdt-charitable-grid .campaign-pledged {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  color: #777777;
}
.bdt-charitable-grid .campaign-pledged span {
  margin-bottom: 20px;
}


/* Filter style */
.charitable-filters {
    margin-bottom: 30px;
}
.charitable-filters .cbp-filter-item {
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  color: #888888;
  cursor: pointer;
  margin: 0 10px 10px 0;
  overflow: visible;
  padding: 5px 17px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
}
.bdt-filter-align-left {
  text-align: left;
}
.bdt-filter-align-right {
  text-align: right;
}
.bdt-filter-align-center {
  text-align: center;
}
/* End of charitable shortcode style */


/* events shortcode style */
.bdt-events-grid {
    .bdt-events-title a {
        color: #222222;
    }
    .uk-subnav li span {
        font-weight: 600;
        font-size: 12px;
   }
}
.bdt-events-grid.bdt-events-box-shadow {
    .cbp-item-wrapper {
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        webkit-transition: box-shadow .1s ease-in-out;
        transition: box-shadow .1s ease-in-out;
    }
    .cbp-wrapper-outer,
    .cbp-item {
        overflow: visible;
    }
}
.bdt-events-grid.bdt-events-box-shadow-hover {
    .cbp-item-wrapper:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }
    .cbp-wrapper-outer,
    .cbp-item {
        overflow: visible;
    }
}
.bdt-events-grid.bdt-events-radius {
    .cbp-item-wrapper {
        border-radius: 5px;
    }
    .cbp-caption {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
/* End of events shortcode style */


/* Call to action shortcode style */
.bdt-call-to-action {
    padding: 25px 30px;
    min-height: 63px;
    border-radius: 2px;
}

.bdt-call-to-action .cta-dbtn {
    float: right;
    //padding: 20px 30px;
    //font-size: 16px;
    //text-decoration: none;
    //background-color: #444;
    //color: #e5e5e5;
    //border-radius: 2px;
}
.bdt-call-to-action .cta-dbtn:hover {
    //background-color: #000;
    //color: #fff;
}
.bdt-call-to-action h3 {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    color: #333;
}
.cta-content .bdt-ca-dtxt {
    //color: #888;
}
.bdt-call-to-action p {
    margin: 5px 0 0;
}

.bdt-ca-vp {
    display: none !important;
}

.bdt-call-to-action.cta-align-left {
    text-align: left;
}
.bdt-call-to-action.cta-align-right {
    text-align: right;
}
.bdt-call-to-action.cta-align-right a.cta-dbtn {
    float: left;
    margin-left: 0;
    margin-right: 20px; 
}
.bdt-call-to-action.cta-align-center {
    text-align: center;
}
.bdt-call-to-action.cta-align-center a.bdt-ca-hp {
    display: none;
}
.bdt-call-to-action.cta-align-center a.bdt-ca-vp {
    float: none !important;
    display: inline-block !important;
    margin: 20px 0 5px;
    min-width: 150px;
}

.bdt-call-to-action.cta-align-center .cta-content > div {margin-top: 10px;}

@media (max-width: 767px) {
    .bdt-call-to-action .cta-dbtn {
        float: none !important;
        margin: 18px 0 10px;
        text-align: center;
    }
    .bdt-call-to-action .cta-content {
        text-align: center;
    }
    .bdt-ca-vp {
        display: inherit !important;
    }
    .bdt-ca-hp {
        display: none !important;
    }
    .bdt-call-to-action.cta-align-center a.bdt-ca-vp {
        display: block !important;
    }
}

@media only screen and (max-width: 480px) {
    .bdt-call-to-action .cta-dbtn {
        padding: 10px;
        margin: 18px 0 10px;
        font-size: 14px;
        text-align: center;
    }
    .bdt-call-to-action .cta-content {
        text-align: center;
    }
}


/*------- Flickr Shortcode and widget style --------*/

.bdt-flickr-feed {margin:0;padding: 0;}
.bdt-flickr-feed li { display: inline-block;margin: 0 5px 5px 0;}


/* featured donation shortcode style */
.bdt-featured-donation-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}
.bdt-featured-donation-wrapper .bdt-featured-donation-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-donation-sizing: border-donation;
    -moz-donation-sizing: border-donation;
    donation-sizing: border-donation;
    text-align: left;
    box-sizing: border-box;
}
.bdt-featured-donation-wrapper .bdt-featured-donation-title-wrapper::before,
.bdt-featured-donation-wrapper .bdt-featured-donation-title-wrapper::after {
    pointer-events: none;
}
.bdt-featured-donation-wrapper h2 {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: normal;
    margin: 0;
    position: relative;
    overflow: hidden;
    padding: 5px 0 10px;
}
.bdt-featured-donation img {
    position: relative;
    display: block;
    min-width: 100%;
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    transform: scaleX(1.1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
}
.bdt-featured-donation:hover img {
    margin: 0 0 0 16px;
    opacity: 0.7;
}
.bdt-featured-donation h2::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.bdt-featured-donation:hover h2::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.bdt-featured-donation-desc {
    cursor: auto;
    text-align: center;
}
.bdt-featured-donation-desc h4 {
    margin-top: 20px;
}
.bdt-featured-donation-desc span {
    color: #999999;
}


/* Icon Shortcode Style */

a.bdt-icon:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.bdt-icon-text {
  vertical-align: middle;
}

/* Heading shortcode style */

.bdt-heading { margin-bottom: 40px; position:relative;}
.bdt-heading .bdt-heading-inner { font-size: 22px;line-height: 22px; font-weight: 300; }
.bdt-heading .bdt-heading-inner > span { font-weight: 600; }
.bdt-heading.bdt-heading-align-left { text-align: left;margin-right: auto; }
.bdt-heading.bdt-heading-align-right { text-align: right;margin-left: auto; }
.bdt-heading.bdt-heading-align-center { text-align: center;margin-left: auto;margin-right: auto;}
.bdt-heading h1, .bdt-heading h2, .bdt-heading h3, .bdt-heading h4, .bdt-heading h5, .bdt-heading h6 {margin: 0;}

.bdt-heading[class*="bdt-heading-align"]:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 74px;
  margin-top: 4px;
}
.bdt-heading.bdt-heading-align-center:after {    
  transform: translateX(-50%);
}
.bdt-heading.bdt-heading-align-right:after {
  right:0px;
}


/*Icon list style*/
.bdt-icon-list:not[class*="uk-padding"] {
    padding: 0;
}

.bdt-icon-list.has-connector .icon_list_item  {
    overflow: hidden;
}

.bdt-icon-list .icon_list_item {
    //padding-bottom: 30px;
    margin: 0;
    clear: both;
    position: relative;
    line-height: inherit;
}
.bdt-icon-list .icon_list_item .icon_list_icon {
    font-size: 24px;
    width: 3em;
    height: 3em;
    padding: 20px;
    line-height: 3em;
    text-align: center;
    background: transparent;
    z-index: 9;
    position: relative;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.bdt-icon-list .icon_list_item .icon_list_connector {position: relative;}
.bdt-icon-list .icon_list_item .icon_list_connector:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0px;
    margin-left: -1px;
    height: 900px;
    border-left: 2px dashed #ddd;
    z-index: 1;
    margin-top: 3px;
}

.bdt-icon-list .list-img-icon {
    display: block;
    margin: 0 auto;
    max-height: 100% !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.bdt-icon-list .list-img-icon.uk-icon svg {
    width: 100%;
    height: 100%;
}
.bdt-icon-list .icon_list_item .icon_description h3  {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 10px;
    clear: none !important;
    line-height: normal;
}
.bdt-icon-list .icon_list_item .icon_description .icon_description_text {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
}

.bdt-flip-box .bdt-icon-list:last-child .icon_list_item {
    padding-bottom: 0;
}

/*left*/
.bdt-icon-list.bdt-icon-align-left .icon_list_item .icon_list_wrapper {
    float: left;
}
/*right*/
.bdt-icon-list.bdt-icon-align-right {
    text-align: right;
}
.bdt-icon-list.bdt-icon-align-right .icon_list_item .icon_list_wrapper {
    float: right;
}

/*top*/
.bdt-icon-list.bdt-icon-align-top {
    display: flex;
}
.bdt-icon-list.bdt-icon-align-top .icon_list_item {
    display: table-cell;
    display:-moz-box;
    width: 100%;
}
.bdt-icon-list.bdt-icon-align-top .icon_list_item .icon_list_wrapper .icon_list_icon {
    margin: 0 auto;
    float: none;
}
.bdt-icon-list.bdt-icon-align-top .icon_list_item .icon_description {
    text-align: center;
    margin-top: 15px;
    padding-bottom:0;
}
.bdt-icon-list.bdt-icon-align-top_left .icon_list_icon,
.bdt-icon-list.bdt-icon-align-top_right .icon_list_icon {
  margin-bottom: 10px;
  display: inline-block;
}
.bdt-icon-list.bdt-icon-align-title .icon_list_icon {
  float: left;
  margin-right: 10px;
  background: none !important;
  margin-top: 6px;
}
.bdt-icon-list.bdt-icon-align-left .icon_list_icon {
  margin-top: 6px;
}
.bdt-icon-list.bdt-icon-align-top_left .icon_list_icon {
  text-align: left;
}
.bdt-icon-list.bdt-icon-align-top_right {
  text-align: right;
}


/* description gap style */
.bdt-icon-align-right .description-gap .icon_description {
    margin-right: 0 !important;
}

.description-gap .icon_description {
    margin-left: 0 !important;
}
.description-gap .icon_description .icon_description_text {
    display: inline-block;
    margin-top: 15px;
}
.bdt-il-has-url {
  cursor: pointer;
}



/* animation 1 */
.bdt-il-animation-1 .icon_list_item:hover .icon_list_icon {
    -webkit-animation-name: wobble-bottom;
    animation-name: wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes wobble-bottom {
  16.65% { -webkit-transform: skew(-12deg); transform: skew(-12deg); }
  33.3% { -webkit-transform: skew(10deg); transform: skew(10deg); }
  49.95% { -webkit-transform: skew(-6deg); transform: skew(-6deg); }
  66.6% { -webkit-transform: skew(4deg); transform: skew(4deg); }
  83.25% { -webkit-transform: skew(-2deg); transform: skew(-2deg); }
  100% { -webkit-transform: skew(0); transform: skew(0); }
}
@keyframes wobble-bottom {
  16.65% { -webkit-transform: skew(-12deg); transform: skew(-12deg); }
  33.3% { -webkit-transform: skew(10deg); transform: skew(10deg); }
  49.95% { -webkit-transform: skew(-6deg); transform: skew(-6deg); }
  66.6% { -webkit-transform: skew(4deg); transform: skew(4deg); }
  83.25% { -webkit-transform: skew(-2deg); transform: skew(-2deg); }
  100% { -webkit-transform: skew(0); transform: skew(0); }
}

/* aniamtion 2 */
.bdt-il-animation-2 .icon_list_item:hover .icon_list_icon{
    -webkit-animation-name: push;
    animation-name: push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes push {
  50% { -webkit-transform: scale(0.8); transform: scale(0.8); } 
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes push {
  50% { -webkit-transform: scale(0.8); transform: scale(0.8); } 
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

/* animation 3 */
.bdt-il-animation-3 .icon_list_item:hover .icon_list_icon {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes pop {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes pop {
  50% { transform: scale(1.2); transform: scale(1.2); }
}

/* animation 4 */
.bdt-il-animation-4 .icon_list_item:hover .icon_list_icon {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* effect 4 */
@-webkit-keyframes buzz-out {
  10% { -webkit-transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); }
}
@keyframes buzz-out {
  10% { transform: translateX(3px) rotate(2deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  30% { transform: translateX(3px) rotate(2deg); }
  40% { transform: translateX(-3px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) rotate(1deg); }
  80% { transform: translateX(-2px) rotate(-1deg); }
  90% { transform: translateX(1px) rotate(0); }
  100% { transform: translateX(-1px) rotate(0); }
}

/* animation 5 */
.bdt-il-animation-5 .icon_list_item:hover .icon_list_icon i {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/* animation 6 */
.bdt-il-animation-6 .icon_list_icon i:before {
    position: absolute;
    right: 50%;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.bdt-il-animation-6:hover .icon_list_icon i:before {
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-name: icon-drop;
    animation-name: icon-drop;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
@-webkit-keyframes icon-drop {
  0% { opacity: 0; }
  50% { opacity: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  51%, 100% { opacity: 1; }
}

@keyframes icon-drop {
  0% { opacity: 0; }
  50% { opacity: 0; transform: translateY(-100%); }
  51%, 100% { opacity: 1; }
}

/* inside shortcode style */

.bdt-icon-align-right .bdt-list ul li {
  padding: 4px 2em 4px 0 !important;
}
.bdt-icon-align-right .bdt-list ul li i {
  right: 0;
  left: auto;
}

/* Progress bar shortcode style */
span.bdt-pb-text, span.bdt-pb-percent {
    font-size: 12px;
    font-weight: 700;
}

/* Member shortcode styles */

.bdt-member {
    position: relative;
    overflow: hidden;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .bdt-member-photo {
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.15);
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
    }
    .bdt-member-photo img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .bdt-member-photo img + img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    &:hover {
        .bdt-member-icons {
            opacity: 1;
        }
        .bdt-member-photo:after {
           opacity: 1; 
        }
        .bdt-member-photo img + img {
            opacity: 1;
        }
    }
    .bdt-member-info { padding: 25px; }
    .bdt-member-name {
        display: block;
        margin-bottom: .2em;
        font-size: 1.2em;
    }
    .bdt-member-role {
        display: block;
        font-size: 0.9em;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .bdt-member-icons { 
        padding: 10px 15px;
        position: absolute;
        background: #fff;
        margin: 0 15px 15px;
        bottom: 0;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        opacity: 0;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        z-index: 1;

    }
    .bdt-member-icons a i { font-size: 16px; }
    .bdt-member-icons a img {
        display: block;
        width: 16px;
        height: 16px;
        margin: 0;
        padding: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .bdt-member-icons div a:last-child { margin-right: 0;}
    .bdt-member-desc > :last-child { margin-bottom: 0 !important; }
    .bdt-member-clickable:hover {
        cursor: pointer;
    }
    /*alignment style*/
    &.bdt-member-align-left {
        text-align: left;
    }
    &.bdt-member-align-right {
        text-align: right;
    }
    &.bdt-member-align-right .bdt-member-icons {
      right: 0;
    }
    &.bdt-member-align-center {
        text-align: center;
        .bdt-member-icons { 
            transition: all .25s ease-in-out;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 0 15px;
        }
    }
    &.uk-border-rounded {
        .bdt-member-photo {
            &:after {
                border-radius: @border-rounded-border-radius;
            }
        }
    }
}




/* Spacer shortcode styles */

.bdt-spacer {display: block;height: 20px;clear: both;overflow: hidden;}
@media only screen and (min-width: 768px) and (max-width: 960px) {.bdt-spacer{height: 15px;}}
@media (max-width: 767px) {.bdt-spacer{height: 10px;}}


/* Photo gallery styles */

.bdt-photo-gallery .bdt-pg-item {
    position: relative;
}
.bdt-photo-gallery .bdt-pg-item .bdt-photo-gallery-links:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.bdt-photo-gallery .bdt-pg-item:hover .bdt-photo-gallery-links:after {
    opacity: 1;
}
.bdt-photo-gallery .bdt-photo-gallery-links a {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -20px;
    height: 46px;
    width: 46px;
    line-height: 46px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.31);
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    margin-left: -20px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 0;
}
.bdt-photo-gallery .bdt-photo-gallery-links a:hover {
    background: rgba(255, 255, 255, 0.6);
}
.bdt-photo-gallery .bdt-pg-item:hover .bdt-photo-gallery-links a {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

/* Testimonial shortcode styles */

.bdt-testimonial-has-photo .bdt-testimonial-photo img {height: 40px;width: 40px;-webkit-border-radius: 50%;border-radius: 50%;}
.bdt-testimonial-no-cite .bdt-testimonial-text:after, .bdt-testimonial-no-cite .bdt-testimonial-text:before {display: none !important;}
.bdt-testimonial-italic .bdt-testimonial-text {font-style: italic; font-weight: 300;}
/*========================
    Testimonial style 1
========================*/
.bdt-testimonial.bdt-testimonial-style-1  .bdt-testimonial-text {
    background: #fff;
    border: 4px solid #eee;
    margin: 0 0 10px;
    padding: 40px 40px 40px 70px;
    color: #474747;
    position: relative;
    text-align: justify;
}
.bdt-testimonial.bdt-testimonial-style-1  .bdt-testimonial-text:before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 16px;
    border: 12px solid transparent;
    border-top-color: #eeeeee;
}
.bdt-testimonial.bdt-testimonial-style-1  .bdt-testimonial-text:after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 20px;
    border: 8px solid transparent;
    border-top-color: #FFF;
}

.bdt-testimonial-has-photo.bdt-testimonial-style-1 .bdt-testimonial-photo {
    margin-left: 6px;
    margin-top: 35px;
    display: inline-block;
}
.bdt-testimonial-has-photo.bdt-testimonial-style-1 .bdt-testimonial-photo img {margin-left: 8px;margin-top: -25px;}
.bdt-testimonial.bdt-testimonial-style-1 .bdt-testimonial-cite {
    margin-left: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
}
.bdt-testimonial.bdt-testimonial-style-1 .bdt-testimonial-name, .bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-name {
    font-weight: bold;
    display: block;
    font-size: 14px;
}
.bdt-testimonial .bdt-testimonial-title {
    opacity: 0.8;
}
.bdt-testimonial.bdt-testimonial-style-1 span.quote:before {
    content: '“';
    font-family: tahoma;
    position: absolute;
    top: 31px;
    left: 20px;
    font-size: 100px;
    color: rgba(0,0,0,0.1);
    line-height: 1;
    font-style: normal;
} 
/*========================
    Testimonial style 2
========================*/

.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0px solid transparent;
    margin-bottom: 0;
    padding: 40px 40px 40px 70px;
    -webkit-box-shadow: -4px 0px 0 #F46E6E;
    box-shadow: -4px 0px 0 #F46E6E;
    margin-left: 4px;
    position: relative;

}
.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text .quote:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: 37px;
    left: 25px;
    font-size: 32px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.06);
}
.bdt-testimonial-has-photo.bdt-testimonial-style-2 .bdt-testimonial-photo {
    display: inline-block;
    margin: 50px 10px 0 23px;
}
.bdt-testimonial-has-photo.bdt-testimonial-style-2 .bdt-testimonial-photo img {
    margin-left: 8px;
    margin-top: -25px;
}
.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text:before, 
.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text:after {
    content: "";
    display: block;
    position: absolute;
    border-right: 0 solid transparent;
}
.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text:before {
    bottom: -22px;
    left: 48px;
    border-right: 22px solid transparent;
    border-top: 22px solid;
    border-top-color: #dcdcdc;
}
.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-text:after {
    bottom: -20px;
    left: 49px;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    border-top-color: #fff;
}

.bdt-testimonial.bdt-testimonial-style-2 .bdt-testimonial-cite {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 36px;
}

/*=======================
    Testimonial style 3
=========================*/
.bdt-testimonial-style-3 {
    position: relative;
    text-align: center;
    margin-top: 110px !important;
}
.bdt-testimonial-style-3.bdt-testimonial-has-photo .bdt-testimonial-photo {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    margin-left: -40px;
}
.bdt-testimonial-style-3.bdt-testimonial-has-photo .bdt-testimonial-photo img {
    height: 80px;
    width: 80px !important;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    -webkit-transition: background .6s ease-out;
    transition: background .6s ease-out;
}
.bdt-testimonial-style-3.bdt-testimonial-has-photo:hover .bdt-testimonial-photo img {
    background: rgba(0,0,0,0.05);
}
.bdt-testimonial-style-3 .bdt-testimonial-text {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5em;
}
.bdt-testimonial-style-3 .bdt-testimonial-cite {
    font-size: 12px;
}
.bdt-testimonial-style-3 .bdt-testimonial-name {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

/* Progress pie shortcode styles */

.bdt-progress-pie {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.bdt-progress-pie svg {
  margin: 0 auto;
}
.bdt-progress-pie-label {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bdt-progress-pie-number, 
.bdt-progress-pie-text {
  font-size: 22px;
}
.bdt-progress-pie-label div {
  line-height: 1.2em;
}
.bdt-progress-pie-svg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.bdt-progress-pie-svg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.bdt-progress-pie .bdt-progress-pie-number,
.bdt-progress-pie .bdt-progress-pie-text {
  font-size: 32px;
  font-weight: 700;
}
.bdt-progress-pie svg ellipse {
  stroke: #f5f5f5;
}
.bdt-progress-pie svg path {
  stroke: #F14B51;
}
.bdt-progress-pie.bdt-pp-lc-square svg path {
  stroke-linecap: square;
}
.bdt-progress-pie.bdt-pp-lc-round svg path {
  stroke-linecap: round;
}
.bdt-progress-pie.bdt-pp-lc-butt svg path {
  stroke-linecap: butt;
}

/* Progress Pie After Title */
.bdt-progress-pie-wrapper .bdt-progress-pie-after-title {
  text-align: center;
  padding: 30px;
  margin: 0;
  font-size: 1.1rem;
}

/* dropcap styles */

.bdt-clearfix:before,
.bdt-clearfix:after {
    display: table;
    content: " ";
}
.bdt-clearfix:after { clear: both;}

/* utility style  */
.no-margin-bottom {
    margin-bottom: 0;
}

/*List shortcode css*/
.bdt-list ul {
    list-style: none !important;
    margin: 0 0 1.5em 0;
    padding: 0;
}

.bdt-list ul li {
    position: relative;
    list-style-type: none !important;
    display: block !important;
    line-height: 1.3em;
    margin: 0 !important;
    padding: 4px 0 4px 2em !important;
}
.bdt-list ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
}


/*------------- Pricing table + plan ---------*/
.bdt-plan {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.bdt-plan-head {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.bdt-plan-icon {
    margin-top: 15px;
}
.bdt-plan-icon img {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 95%;
}
.bdt-plan-name {
    margin-bottom: 15px;
    font-size: 1.3em;
}
.bdt-plan-price {
    font-weight: bold;
    font-size: 2.3em;
    line-height: normal;
}

.bdt-plan-price-value {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}
.bdt-plan-price-before,
.bdt-plan-price-after {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 0.7em;
}
.bdt-plan-period {
    margin-top: 5px;
    font-size: 0.9em;
    opacity: 0.7;
}
.bdt-plan-options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bdt-plan-options ul li {
    margin: 0;
    padding: 0.5em 0.2em;
    border-top: 1px dotted rgba(221, 221, 221, 0.5);
    list-style: none;
    -webkit-transform: translateZ(0);
}
.bdt-plan-footer {
    padding: 30px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.bdt-plan {
    float: left;
    border-left-width: 0;
}
.bdt-plan-featured {
    z-index: 2;
}
.bdt-plan .bdt-tooltip {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    padding-bottom: 2px;
    margin-bottom: -3px;
}
.bdt-plan {
    position: relative;
    overflow: hidden;
}
.bdt-plan {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 15px;
}
.bdt-plan:last-child {
    margin-right: 0;
}
.bdt-plan .bdt-plan-head {
    padding-top: 0;
}
.bdt-plan-featured {
    margin-top: -30px !important;
}
.bdt-plan-featured .bdt-plan-badge {
    z-index: 1;
}
 .bdt-plan-name {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.03);
}
.bdt-plan-icon i {
    font-size: 48px;
}
.bdt-plan-featured div.bdt-plan-options {
    margin-top: 30px;
}
.bdt-plan-options ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none; 
}
.bdt-plan-options ul li:last-child {
    border-bottom: none;
}
.bdt-plan .bdt-plan-badge {
    position: absolute;
    right: -35px;
    top: 23px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 5px 8px;
    width: 125px;
    color: #FFF;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 10px;
    line-height:10px;
}



/*// Mobile Modes*/
@media (max-width: 767px) {
    .bdt-plan {
        clear: both;
        margin-bottom: 30px;
    }
    .bdt-plan:last-child {
        clear: both;
        margin-bottom: 0;
    }
    .bdt-plan-featured .bdt-plan-head {padding: 20px 0; }
    .bdt-plan-featured .bdt-plan-footer {padding: 15px 0;}
    .bdt-plan-featured {
        margin-top: 0;
    }
  .bdt-progress-pie-wrapper, .bdt-member {
    margin-bottom: 30px;
  }
}


/* Bdthemes Newsletter Styles */
.bdt-newsletter-wrapper input.bdt-email {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    vertical-align: middle;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(130,130,130,0.1);
    padding: 8px 16px;
    margin-bottom: 20px;
}
.bdt-newsletter-wrapper input.bdt-submit {
    border: none;
    font-size: 14px;
    border-radius: 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
.bdt-newsletter-result {
  display: block;
  margin-top: 8px;
}