// Visual Composer Tweaks
.vc_row {
    margin-left: -20px;
    margin-right: -20px;
}

.vc_column_container > .vc_column-inner {
    padding-left: 20px;
    padding-right: 20px;
}
.vc_responsive .full-width-section>.vc-column-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}


.section {
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-left: none !important;
    border-right: none !important;
}
.wpb-js-composer .tm-main, .wpb-js-composer .tm-home {
    overflow-x: hidden;
}

.vc_row:after,
.vc_row:after{
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.vc_responsive .full-width-section [class*='vc_col-sm-'] { padding: 0; }

.vc_row.vc_row-flex {
    display: block;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.vc_row {
  &.vc_row-o-full-height {
    .vc-column-wrapper {
        min-height: 100vh;
    }
  }

    // enable flex
    &.vc_row-flex {
        .vc-column-wrapper {
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            > .vc_column_container {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                > .vc_column-inner {
                    -webkit-box-flex: 1;
                    -webkit-flex-grow: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        /* IE10+ specific styles */
                        & > * {
                          min-height: 1em;
                        }
                    }
                }
            }
            &::before,
            &::after {
                display: none;
            }
        }
    }

  // columns alignment
  &.vc_row-o-columns-stretch {
    .vc-column-wrapper {
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
  }
  &.vc_row-o-columns-top {
    .vc-column-wrapper {
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
  }
  &.vc_row-o-columns-bottom {
    .vc-column-wrapper {
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
  }
  &.vc_row-o-columns-middle {
    .vc-column-wrapper {
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }
  }
  &.vc_row-o-columns-top,
  &.vc_row-o-columns-bottom,
  &.vc_row-o-columns-middle {
    .vc-column-wrapper {
        &::after {
          content: '';
          width: 100%;
          height: 0;
          overflow: hidden;
          visibility: hidden;
          display: block;
        }
    }
  }

  // equal height
  &.vc_row-o-equal-height {
    > .vc-column-wrapper {
        > .vc_column_container {
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
        }
    }
  }

  // content alignment
  &.vc_row-o-content-top {
    > .vc-column-wrapper {
        > .vc_column_container {
          > .vc_column-inner {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
          }
        }
    }
    &:not(.vc_row-o-equal-height) {
        >.vc-column-wrapper {
          > .vc_column_container {
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
          }
        }
    }
  }
  &.vc_row-o-content-bottom {
    > .vc-column-wrapper {
        > .vc_column_container {
          > .vc_column-inner {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
          }
        }
    }
    &:not(.vc_row-o-equal-height) {
        > .vc-column-wrapper {
          > .vc_column_container {
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
          }
        }
    }
  }
  &.vc_row-o-content-middle {
    > .vc-column-wrapper {
        > .vc_column_container {
          > .vc_column-inner {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
        }
    }
    &:not(.vc_row-o-equal-height) {
        > .vc-column-wrapper {
          > .vc_column_container {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
          }
      }
    }
  }
}







.full-width-section > .vc-column-wrapper > .vc_column_container:not(.custom-padding) > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}

.sidebar-left .vc_row,
.sidebar-right .vc_row{
    margin-bottom: 0;
}

.sidebar-left .vc_row .vc_row,
.sidebar-right .vc_row .vc_row{
    margin: 0 -20px;
}

.vc_row .wpb_column p:last-child{
    margin: 0;
}

.row-padding-{
    &default {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &large {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &medium {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &small {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &no {
        padding-top: 0;
        padding-bottom: 0;
    }
}


@media (max-width: 767px) {
    // .vc_row .wpb_column {
    //     margin-bottom: 40px;
    // }
    .vc_responsive .full-width-section .wpb_column{
        margin-bottom: 0px !important;
    }
    .vc_responsive .vc_row > div > :last-child,
    .vc_responsive .vc_row > div > :last-child > .wpb_column {
        margin-bottom: 0px !important;
    }
    .row-padding-{
        &default {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &large {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &medium {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &small {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.vc_row .vc_row .wpb_content_element{
    margin-bottom: 35px;
}

.vc_responsive .standard-section .vc-column-wrapper{
    max-width: @container-small-max-width;
    margin: 0 auto;
}

/* Row - Standard @container-max-width */
@media (min-width: @container-max-width) {
    .vc_responsive .standard-section .vc-column-wrapper{
        max-width: @container-max-width + 20;
    }
}
@media (max-width: @container-max-width) {
    .vc_responsive .standard-section {
        padding-left: @grid-gutter-horizontal;
        padding-right: @grid-gutter-horizontal;
    }
}

@media (min-width: @container-small-max-width) {
    .vc_responsive {
        .vc_row {
            .wpb_column {
                .wpb_wrapper {
                    > div:last-child {
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }
}



/* Column Padding */
.vc_row {
    .vc-column-wrapper {
        > .col.padding-1 { padding: 1% !important; }
        > .col.padding-2 { padding: 2% !important; }
        > .col.padding-3 { padding: 3% !important; }
        > .col.padding-4 { padding: 4% !important; }
        > .col.padding-5 { padding: 5% !important; }
        > .col.padding-6 { padding: 6% !important; }
        > .col.padding-7 { padding: 7% !important; }
        > .col.padding-8 { padding: 8% !important; }
        > .col.padding-9 { padding: 9% !important; }
        > .col.padding-10 { padding: 10% !important; }
    }
}

@media only screen and (max-width: @breakpoint-small-max) {
    .vc_row {
        .vc-column-wrapper {
            > [class*='col.padding-'] { padding-top: 40px !important; padding-bottom: 40px !important; }
        }
    }
}


.vertical-center{ height: auto !important; padding-top: 40px; padding-bottom: 40px; }
.vertical-center .wpb_wrapper{ margin-top: 0 !important; }

// vc with shortcode fix
.vc_responsive {
    .vc_row {
        .wpb_column {
            .wpb_wrapper {
               div.wpcf7 {
                    margin-bottom: 40px;
                }
                > .su-icon-list:last-child .icon_list_item {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}

.vc-has-bg-overlay {
    .vc-bg-overlay {
        top: 0;
        left: 0;
        opacity: 0.75;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        pointer-events: none;
    }
}




/* End of vc tweak style */