//
// Component: Alert
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@alert-close-opacity:                           0.4;
@alert-close-hover-opacity:                     0.8;


// Component
// ========================================================================

.hook-alert() {}


// Close
// ========================================================================

.hook-alert-close() {
    color: inherit;
    opacity: @alert-close-opacity;
}

.hook-alert-close-hover() {
    color: inherit;
    opacity: @alert-close-hover-opacity;
}


// Style modifiers
// ========================================================================

.hook-alert-primary() {}

.hook-alert-success() {}

.hook-alert-warning() {}

.hook-alert-danger() {}


// Miscellaneous
// ========================================================================

.hook-alert-misc() {

    /*
     * Content
     */

    .uk-alert h1,
    .uk-alert h2,
    .uk-alert h3,
    .uk-alert h4,
    .uk-alert h5,
    .uk-alert h6 { color: inherit; }

    .uk-alert a:not([class]) {
        color: inherit;
        text-decoration: underline;
    }

    .uk-alert a:not([class]):hover {
        color: inherit;
        text-decoration: underline;
    }

    div.wpcf7-response-output {
        position: relative;
        margin-bottom: @alert-margin-vertical;
        padding: @alert-padding @alert-padding-right @alert-padding @alert-padding;
        border: none;
        margin-left: 0;
    }

    div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {
        background: @alert-warning-background;
        color: @alert-warning-color;
    }

    div.wpcf7-mail-sent-ok {
        background: @alert-success-background;
        color: @alert-success-color;
    }

    div.wpcf7-spam-blocked {
        background: @alert-danger-background;
        color: @alert-danger-color;
    }
    
    span.wpcf7-not-valid-tip {
        font-size: 0.8em;
        display: inline-block;
        padding: 2px 7px;
        background: @alert-warning-background;
        color: @alert-warning-color;
    }
}