//
// Component: Article
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@article-meta-link-color:                       @article-meta-color;
@article-meta-link-hover-color:                 @global-color;


// Component
// ========================================================================

.hook-article() {}


// Adjacent sibling
// ========================================================================

.hook-article-adjacent() {}


// Title
// ========================================================================

.hook-article-title() {
	font-size: 36px;
	line-height: 1.2;
	color: #292929;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
}


// Meta
// ========================================================================

.hook-article-meta() {

    a { color: @article-meta-link-color; }

    a:hover {
        color: @article-meta-link-hover-color;
        text-decoration: none;
    }
    font-size: 11px;
    line-height: 1.4;
    color: rgb(160, 160, 160);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}


// Miscellaneous
// ========================================================================

.hook-article-misc() {}


// Inverse
// ========================================================================

.hook-inverse-article-meta() {}