//
// Component: Nav
//
// ========================================================================


// Variables
// ========================================================================
@internal-nav-parent-close-image:               "../images/backgrounds/nav-parent-close.svg";
@internal-nav-parent-open-image:                "../images/backgrounds/nav-parent-open.svg";


//
// New
//

@nav-default-font-size:                         @global-small-font-size;


// Sublists
// ========================================================================

.hook-nav-sub() {}


// Parent icon modifier
// ========================================================================

.hook-nav-parent-icon() {}


// Header
// ========================================================================

.hook-nav-header() {}


// Divider
// ========================================================================

.hook-nav-divider() {}


// Default style modifier
// ========================================================================

.hook-nav-default() { font-size: @nav-default-font-size; }

.hook-nav-default-item() {}

.hook-nav-default-item-hover() {}

.hook-nav-default-item-active() {}

.hook-nav-default-header() {}

.hook-nav-default-divider() {}


// Primary style modifier
// ========================================================================

.hook-nav-primary() {}

.hook-nav-primary-item() {}

.hook-nav-primary-item-hover() {}

.hook-nav-primary-item-active() {}

.hook-nav-primary-header() {}

.hook-nav-primary-divider() {}


// Miscellaneous
// ========================================================================

.hook-nav-misc() {}


// Inverse
// ========================================================================

.hook-inverse-nav-parent-icon() {}

.hook-inverse-nav-default-item() {}
.hook-inverse-nav-default-item-hover() {}
.hook-inverse-nav-default-item-active() {}
.hook-inverse-nav-default-header() {}
.hook-inverse-nav-default-divider() {}

.hook-inverse-nav-primary-item() {}
.hook-inverse-nav-primary-item-hover() {}
.hook-inverse-nav-primary-item-active() {}
.hook-inverse-nav-primary-header() {}
.hook-inverse-nav-primary-divider() {}