//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

@navbar-nav-item-color:                         @global-color;
@navbar-background:                             #fff;

@navbar-nav-item-font-size:                     @global-small-font-size;

@navbar-dropdown-margin:                        15px;
@navbar-dropdown-padding:                       25px;
@navbar-dropdown-background:                    #fff;
@navbar-dropdown-grid-gutter-horizontal:        (@navbar-dropdown-padding * 2);

@internal-navbar-toggle-image:                  "../images/components/navbar-toggle.svg";

//
// New
//

@navbar-nav-item-text-transform:                uppercase;

@navbar-dropdown-nav-font-size:                 @global-small-font-size;

@navbar-dropdown-box-shadow:                    0 5px 12px rgba(0,0,0,0.15);

@navbar-dropdown-grid-divider-border-width:     @global-border-width;
@navbar-dropdown-grid-divider-border:           @navbar-dropdown-nav-divider-border;


// Component
// ========================================================================

.hook-navbar() {}


// Container
// ========================================================================

.hook-navbar-container() {}


// Nav
// ========================================================================

.hook-navbar-nav-item() {
    text-transform: @navbar-nav-item-text-transform;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    position: relative;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        //bottom: 0;
        height: 2px;
        background-color: transparent;
        -webkit-transition: .15s cubic-bezier(0, 0.75, 0.43, 1);
        transition: .1s cubic-bezier(0, 0.75, 0.43, 1);
        -webkit-transition-property: background-color,opacity,transform;
        transition-property: background-color,opacity,transform;
        left: 0;
        right: 0;
        margin: 0 15px;
        opacity: 1;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
}

.hook-navbar-nav-item-hover() {
    &::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
        background-color: @global-link-color;
    }
}

.hook-navbar-nav-item-onclick() {}

.hook-navbar-nav-item-active() {
    &::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        margin-bottom: -20px;
        opacity: 1;
    }
}


// Item
// ========================================================================

.hook-navbar-item() {}


// Toggle
// ========================================================================

.hook-navbar-toggle() {}

.hook-navbar-toggle-hover() {}

.hook-navbar-toggle-icon() {}

.hook-navbar-toggle-icon-hover() {}


// Subtitle
// ========================================================================

.hook-navbar-subtitle() {}


// Style modifiers
// ========================================================================

.hook-navbar-transparent() {}

.hook-navbar-sticky() {
    box-shadow: rgba(0, 0, 0, 0.0666667) 0px 3px 12px;
}


// Dropdown
// ========================================================================

.hook-navbar-dropdown() { box-shadow: @navbar-dropdown-box-shadow; }

.hook-navbar-dropdown-dropbar() { box-shadow: none; }


// Dropdown nav
// ========================================================================

.hook-navbar-dropdown-nav() { font-size: @navbar-dropdown-nav-font-size; }

.hook-navbar-dropdown-nav-item() {}

.hook-navbar-dropdown-nav-item-hover() {}
.hook-navbar-dropdown-nav-item-active() {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: calc(50% - 5px);
        height: 2px;
        right: 0;
        background-color: @global-link-color;
        width: 10px;
    }
}
.hook-navbar-dropdown-nav-header() {}

.hook-navbar-dropdown-nav-divider() {}


// Dropbar
// ========================================================================

.hook-navbar-dropbar() {
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.05), 0 7px 10px rgba(0, 0, 0, 0.1);
}


// Miscellaneous
// ========================================================================

.hook-navbar-misc() {

    .tm-header.uk-light {
        .uk-navbar-nav>li.uk-active>a::after {
            background-color: #fff;
        }
    }
    .tm-header:not(.uk-light) {
       .uk-navbar-nav>li.uk-active>a::after {
           background-color: @global-link-color;
       } 
    }

}

.hook-navbar-dropdown-dropbar() {
    .uk-navbar-dropdown-dropbar {
        margin-bottom: 30px;
        box-shadow: none;
    }
}


// Inverse
// ========================================================================

.hook-inverse-navbar-nav-item() {}
.hook-inverse-navbar-nav-item-hover() {}
.hook-inverse-navbar-nav-item-onclick() {}
.hook-inverse-navbar-nav-item-active() {}

.hook-inverse-navbar-item() {}

.hook-inverse-navbar-toggle() {}
.hook-inverse-navbar-toggle-hover() {}