//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================


// Overlay
// ========================================================================

.hook-offcanvas-overlay() {}


// Bar
// ========================================================================

.hook-offcanvas-bar() {
	background-color: #523f3f;
}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {
	
	.uk-offcanvas {
		.uk-nav {
			li.uk-active {
				> a {
					color: #fff;
				}			
			}
		}
		.uk-button {
			width: 100%;
		}
	}
}