//
// Component: Padding
//
// ========================================================================


// Variables
// ========================================================================


// Miscellaneous
// ========================================================================

.hook-padding-misc() {
	.uk-padding-medium {
		padding: 25px; 
	}
}