//
// Component: Progress
//
// ========================================================================


// Variables
// ========================================================================
@progress-height:                               8px;
@progress-border-radius:                        500px;


// Component
// ========================================================================

.hook-progress() {
    border-radius: @progress-border-radius;
    overflow: hidden;
}

.hook-progress-bar() {}


// Miscellaneous
// ========================================================================

.hook-progress-misc() {}
