//
// Component: Totop
//
// ========================================================================


// Variables
// ========================================================================
@internal-totop-image:                          "../images/components/totop.svg";

// Component
// ========================================================================

.hook-totop() {
    color: #ffffff;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: block;
    position: fixed;
    bottom: -50px;
    right: 95px;
    z-index: 100;
    width: 20px;
    height: 10px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(123, 123, 123, 0.59);
    padding: 10px;
    border-radius: 2px 2px 0 0;
}

.hook-totop-hover() {
    color: #ffffff;
    height: 12px;
    line-height: 13px;
}

.hook-totop-active() {
    color: #ffffff;
}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {
    .uk-totop.totop-show {
        bottom: 0;
    }
}


// Inverse
// ========================================================================

.hook-inverse-totop() {}
.hook-inverse-totop-hover() {}
.hook-inverse-totop-active() {}