//
// Component: Variables
//
// ========================================================================

@internal-icon-image:                           "../images/icons/icons.svg";

// Global variables
// ========================================================================
@global-medium-font-size:                       1.2rem;  // 18px

//
// Typography
//

//
// Colors
//

@global-link-color:                             #F44336;
@global-link-hover-color:                       #E53935;


//
// Backgrounds
//
@global-primary-background:                     #F44336;

//
// Borders
//
@global-border:                                 #eeeeee;



//
// Spacings
//

//
// Controls
//

//
// Z-index
//